<div class="granny-grid-container">
	<div class="left-card">

	<% @grandmas.each do |grandma| %>
		<a href="grandmas/<%= grandma.id %>">
			<div class="main-card">
				<div class="pic-size">
					<img src = <%= grandma.photo_url %>>
				</div>
				<div class="card-text">
				  <h2><%= "#{grandma.first_name} #{grandma.last_name} "%></h2>
				  <% if grandma.description.length > 30 %>
				  <p><%= "#{grandma.description[0, 50]}..."%></p>
				  <% else %>
				  <p><%= grandma.description %></p>
				  <% end %>
				</div>
			</div>
		</a>

		<% end %>
	</div>

	<img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoianVsaWFzbmQiLCJhIjoiY2w5czZsZXQyMWk3ODNvbGJ3M29zdjdzYyJ9.3MLsAvXvaTpWG2KQbc1JzA'>

</div>
