
<div class="show_container">
  <div class="d-flex justify-content-center show_images">
    <div class="banner_show d-flex flex-row">
      <div id="banner_show_left" style="background-image:url(<%= @grandma.photo_url %>)"></div>
      <div class="banner_show_middle" class="">
        <div id="middle-top" style="background-image:url(https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png)"></div>
        <div id="middle-bottom" style="background-image:url(https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png)"></div>
      </div>
      <div id="banner_show_right" style="background-image:url(https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoianVsaWFzbmQiLCJhIjoiY2w5czZsZXQyMWk3ODNvbGJ3M29zdjdzYyJ9.3MLsAvXvaTpWG2KQbc1JzA)">></div>
    </div>
  </div>
  <div class="lower_show">
      <div class ="show_description">
          <h2><%="#{@grandma.first_name} #{@grandma.last_name}"%></h2>
          <p><%="#{@grandma.description}"%></p>
          <p class="show_rate"><%="€#{@grandma.hourly_rate}/hr"%></p>
      </div>
      <div class="booking_form">
        <%= simple_form_for @grandma do |f| %>
          <%= f.error_notification %>
          <h3 class="booking_form_title">Booking details</h3>
          <div class="form-inputs">
            <%= f.input :created_at, as: :date, html5: true, label: "Start date"%>
            <%= f.input :created_at, as: :date, html5: true, label: "End date"%>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Book" %>
          </div>
        <% end %>
      </div>
    </div>
</div>
