<div class="container p-5">
  <h1 class="fw-light mt-5">Profile</h1>
  <img class="avatar mt-3" alt="avatar" src="<%= current_user.profile_photo.key %>" />
  <h3 class="username mt-3"><strong><%="#{@user.username}"%></strong></h3>
  <p class="address"><%="#{@user.address}"%></p>

  <h2 class="fw-light mt-5 mb-5">My bookings:</h2>

  <div class="profile_card_wrapper mt-5 d-flex justify-content-between flex-row">
    <%# <div class="d-flex flex-column me-3" style="width: 50%">
      <div class="profile_card_granny">
        <img src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
        <div class="card-product-infos ms-3">
          <h3>Granny name</h3>
          <p>Booking details</p>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column ms-3" style="width: 50%">
      <div class="profile_card_granny">
        <img src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
        <div class="card-product-infos ms-3">
          <h3>Granny name</h3>
          <p>Booking details</p>
        </div>
      </div>
    </div> %>

    <div class="d-flex flex-column me-3" style="width: 50%">
      <% @user.bookings.each do |booking| %>
        <%= link_to grandma_path(booking.grandma), class:"link-wrapper booking-card mb-3" do  %>
          <div class="main-card">
            <div class="pic-size">
              <%= cl_image_tag booking.grandma.photo_url.first.key %>
            </div>
            <div class="card-text">
              <h3><%= "#{booking.grandma.first_name} #{booking.grandma.last_name} "%></h3>
              <p><%= "#{booking.start_time} - #{booking.end_time} "%></p>
            </div>
          <% if booking.status == "pending" %>
          <p>Your booking is not accepted yet.</p>
          <% elsif booking.status == "Accepted" %>
          <p>Your booking is accepted!</p>
          <% else %>
          <p>Your booking got rejected!</p>
          <% end %>
          </div>
        <% end %>
      <% end %>

    </div>
  <div class="user-bookings">
      <% @host_bookings.each do |booking| %>
        <%= link_to user_path(booking.user), class:"link-wrapper booking-card mb-3" do  %>
          <div class="main-card">
            <div class="pic-size">
            </div>
            <div class="card-text">
              <h3><%= "#{booking.user.username}"%></h3>
              <p><%= "#{booking.start_time} - #{booking.end_time} "%></p>
            </div>
            <% if booking.status == "pending" %>
            <div class="bookings-buttons">
              <%= link_to "Accept booking", booking_path(booking, booking: {status: "Accepted"}), data: {turbo_method: :patch,}, class:"button-primary"%>
              <%= link_to "Reject booking", booking_path(booking, booking: {status: "Rejected"}), data: {turbo_method: :patch,}, class:"button-primary"%>
            </div>
            <% elsif booking.status == "Accepted" %>
            <p>You accepted this booking!</p>
            <% else %>
            <p>You rejected this booking!</p>
            <% end %>
          </div>
          <% end %>
      <% end %>
  </div>
  </div>

  <%= link_to "Create a grandma", new_grandma_path, class: "button-primary"%>
  <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "button-secondary" %>
</div>
