<div class="container p-5">
  <h1 class="fw-light mt-5">Profile</h1>
  <img class="avatar mt-3" alt="avatar" src="<%= current_user.profile_photo.key %>" />
  <h3 class="username mt-3"><strong><%="#{@user.username}"%></strong></h3>
  <p class="address"><%="#{@user.address}"%></p>

  <h2 class="fw-light mt-5 mb-5">My bookings:</h2>

  <div class="profile_card_wrapper mt-5 d-flex justify-content-between flex-row">
    <%# <div class="d-flex flex-column me-3" style="width: 50%">
      <div class="profile_card_granny">
        <img src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
        <div class="card-product-infos ms-3">
          <h3>Granny name</h3>
          <p>Booking details</p>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column ms-3" style="width: 50%">
      <div class="profile_card_granny">
        <img src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
        <div class="card-product-infos ms-3">
          <h3>Granny name</h3>
          <p>Booking details</p>
        </div>
      </div>
    </div> %>

    <div class="d-flex flex-column me-3" style="width: 50%">
      <% @user.bookings.each do |booking| %>
      <a class="link-wrapper" href="users/<%= user.id %>">
        <div class="main-card">
          <div class="pic-size">
            <%# <%= cl_image_tag booking.@grandma.photo_url[0].key %> %>
          </div>
          <div class="card-text">
            <h3><%= "#{booking.grandma.first_name} #{booking.grandma.last_name} "%></h3>
            <p><%= "#{booking.start_date} - #{booking.grandma.end_date} "%></p>
          </div>
        </div>
      </a>
      <% end %>
    </div>

  </div>

  <%= link_to "Create a grandma", new_grandma_path, class: "button-primary"%>
  <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "button-secondary" %>
</div>
