<h1>hello</h1>
<button class="button-primary" role="button">Primary button</button>
<button class="button-secondary" role="button">Secondary button</button>

<div class="booking_form">
  <div class="booking_form">
    <%= simple_form_for @grandma do |f| %>
      <%= f.error_notification %>
      <h3 class="booking_form_title">Booking details</h3>
      <div class="form-inputs">
        <%= f.input :created_at, as: :date, html5: true, label: "Start date"%>
        <%= f.input :created_at, as: :date, html5: true, label: "End date"%>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Book" %>
      </div>
    <% end %>
  </div>
</div>
