<div class="banner" style="background-image: url('https://media.istockphoto.com/id/1366983105/photo/portrait-of-funny-senior-blonde-woman-in-sun-glasses-and-pink-sweater-on-white-background.jpg?s=612x612&w=0&k=20&c=j9IzY2eBsQ0m6Z7H_C7Pe4Payi2L6OHRRSBRON6krTc=');">
  <div class="container">
    <h1>Welcome to</h1>
    <h1><em>insta</em>GRAN</h1>
    <div class="banner-buttons d-flex flex-column">
      <%= link_to "sign up", new_user_registration_path, class: "banner-button-primary d-flex justify-content-center align-items-center mt-3 border border-2 border-primary"%>
      <%= link_to "login", new_user_session_path, class: "banner-button-secondary d-flex justify-content-center align-items-center mt-2 border border-2 border-primary" %>
    </div>
  </div>
</div>

<div class="card-container p-5 d-flex flex-column">
  <div class="d-flex flex-row">
    <% @grandmas.each do |grandma| %>
		<a class="link-wrapper" href="grandmas/<%= grandma.id %>">
			<div class="main-card">
				<div class="pic-size">
					<img src = <%= grandma.photo_url %>>
				</div>
				<div class="card-text">
				  <h2><%= "#{grandma.first_name} #{grandma.last_name} "%></h2>
				  <% if grandma.description.length > 30 %>
				  <p><%= "#{grandma.description[0, 50]}..."%></p>
				  <% else %>
				  <p><%= grandma.description %></p>
				  <% end %>
				</div>
			</div>
		</a>

		<% end %>
  </div>
</div>
